<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.dao.TImageshareMapper" >

    <resultMap id="BaseResultMap" type="com.wx.bean.TImageshare" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, openid, imageurl,createtime
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_imageshare
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_imageshare
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.wx.bean.TImageshare" >
        insert into t_imageshare (id, openid, imageurl
            )
        values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{imageurl,jdbcType=VARCHAR}
            )
    </insert>

    <insert id="insertSelective" parameterType="com.wx.bean.TImageshare" >
        insert into t_imageshare
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="openid != null" >
                openid,
            </if>
            <if test="imageurl != null" >
                imageurl,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="openid != null" >
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="imageurl != null" >
                #{imageurl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.wx.bean.TImageshare" >
        update t_imageshare
        <set >
            <if test="openid != null" >
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="imageurl != null" >
                imageurl = #{imageurl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.wx.bean.TImageshare" >
        update t_imageshare
        set openid = #{openid,jdbcType=VARCHAR},
            imageurl = #{imageurl,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>